openapi: 3.0.0
info:
  title: Vercel API
  description: Unnofficial OpenAPI description for the Vercel API
  version: 0.1
servers:
  - url: https://api.vercel.com
    description: Main Vercel API endpoint
paths:
  /v4/projects:
    get:
      operationId: getProjects
      tags:
        - Projects
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/Error"
  /v1/projects/{id}:
    get:
      operationId: getProjectById
      tags:
        - Projects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/Error"
    delete:
      operationId: removeProjectById
      tags:
        - Projects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: "Success"
        default:
          $ref: "#/components/responses/Error"
  /v1/projects/{projectId}/alias:
    delete:
      operationId: removeAliasFromProject
      tags:
        - Projects
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
        - name: domain
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Success"
        default:
          $ref: "#/components/responses/Error"
    post:
      operationId: addAliasToProject
      tags:
        - Projects
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AliasInclusion"
      responses:
        '200':
          description: "Success"
        default:
          $ref: "#/components/responses/Error"
  /v6/projects:
    post:
      operationId: createProject
      tags:
        - Projects
      parameters:
        - in: query
          name: withUserCredentials
          required: true
          schema:
            type: integer
            enum:
              - 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectCreation"
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Project"
        '409':
          description: Project already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          $ref: "#/components/responses/Error"
  /v4/projects/{id}/link:
    # WARN: undocumented operation 
    delete:
      operationId: removeLinkByProjectId
      tags:
        - Projects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/Error"
    # WARN: undocumented operation 
    post:
      operationId: createLinkByProjectId
      tags:
        - Projects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: withUserCredentials
          in: query
          required: true
          schema:
            type: integer
            enum:
              - 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GitRepositoryLink"
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/Error"
  /v6/projects/{id}/env:
    get:
      operationId: getProjectEnvironmentVariables
      tags:
        - Projects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  envs:
                    type: array
                    items:
                      $ref: "#/components/schemas/EnvironmentVariable"
        default:
          $ref: "#/components/responses/Error"
    post:
      operationId: createProjectEnvironmentVariable
      tags:
        - Projects
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnvironmentVariableCreation"
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnvironmentVariable"
        default:
          $ref: "#/components/responses/Error"
  /v4/projects/{projectId}/env/{key}:
    delete:
      operationId: deleteEnvironmentVariable
      tags:
        - Projects
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
        - name: key
          in: path
          required: true
          schema:
            type: string
        - name: target
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Success"
        default:
          $ref: "#/components/responses/Error"
  /v13/now/deployments:
    # WARN: undocumented operation
    post:
      operationId: createNewDeployment
      tags:
        - Deployments
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeploymentCreation"
      responses:
        '200':
          description: "Success"
        default:
          $ref: "#/components/responses/Error"
  /v2/now/secrets:
    post:
      operationId: createNewSecret
      tags:
        - Secrets
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SecretCreation"
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Secret"
        default:
          $ref: "#/components/responses/Error"
  /v2/now/secrets/{name}:
    delete:
      operationId: removeSecret
      tags:
        - Secrets
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Secret"
        default:
          $ref: "#/components/responses/Error"
  /v3/now/secrets:
    get:
      operationId: listSecrets
      tags:
        - Secrets
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  secrets:
                    type: array
                    items:
                      $ref: "#/components/schemas/Secret"
        default:
          $ref: "#/components/responses/Error"
  /v3/now/secrets/{nameOrId}:
    get:
      operationId: getSecret
      tags:
        - Secrets
      parameters:
        - name: nameOrId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Secret"
        default:
          $ref: "#/components/responses/Error"
components:
  responses:
    Error:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: "#/components/schemas/Error"
    Project:
      required:
        - id
        - name
      type: object
      properties: 
        id:
          type: string
        name:
          type: string
        link:
          type: object
          required:
            - type
          properties:
            type:
              type: string
            org:
              type: string
            projectId:
              type: string
            projectName:
              type: string
            projectNamespace:
              type: string
            projectUrl:
              type: string
            productionBranch:
              type: string
            repo:
              type: string
            repoId:
              type: integer
        alias:
          type: array
          items:
            type: object
            properties:
              domain:
                type: string
            required:
              - domain
    ProjectCreation:
      required:
        - name
      type: object
      properties:
        name:
          type: string
        gitRepository:
          $ref: "#/components/schema/GitRepositoryLink"
        rootDirectory:
          type: string
    DeploymentCreation:
      required:
        - name
      type: object
      properties:
        name:
          type: string
        target:
          type: string
          enum: [staging, production]
        source:
          type: string
        gitSource:
          type: object
          properties:
            type:
              type: string
            ref:
              type: string
            projectId:
              type: string
            repoId:
              type: integer
    GitRepositoryLink:
      required:
        - type
        - repo
      type: object
      properties:
        type:
          type: string
          enum: [github, gitlab, bitbucket]
        repo:
          type: string
        sourceless:
          type: boolean
    AliasInclusion:
      required:
        - domain
      type: object
      properties:
        domain:
          type: string
    SecretCreation:
      required:
        - name
        - value
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    Secret:
      required:
        - uid
        - name
      type: object
      properties:
        uid:
          type: string
        name:
          type: string
        created:
          type: string
          format: date
        userId:
          type: string
        value:
          type: object
          properties:
            type:
              type: string
            data:
              type: array
              items:
                type: integer
    EnvironmentVariableCreation:
      required:
        - type
        - key
        - value
        - target
      type: object
      properties:
        type:
          type: string
          enum: [ plain, secret, system ]
        key:
          type: string
        value:
          type: string
        target:
          type: array
          items:
            type: string
            enum: [ development, preview, production ]
    EnvironmentVariable:
      required:
        - type
        - id
        - key
      type: object
      properties:
        type:
          type: string
          enum: [ plain, secret, system ]
        id:
          type: string
        key:
          type: string
        value:
          type: string
        target:
          $ref: "#/components/schema/EnvironmentVariableTarget"
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
    TargetEnvironment:
      type: string
      enum: [ development, preview, production ]
    TargetEnvironmentList:
      type: array
      items:
        $ref: "#/components/schemas/TargetEnvironment"
    EnvironmentVariableTarget:
      oneOf:
        - $ref: "#/components/schemas/TargetEnvironment"
        - $ref: "#/components/schemas/TargetEnvironmentList"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []